<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${artwork.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
<nav>
<ul class="nav navbar-nav">
        <li><a href="/artist/" >Artists</a></li>
        <li><a href="/artwork/" >Artworks</a></li> 
</ul>
</nav>
<br/>
	<h1 th:text="${artwork.title}">Title</h1>
	<img th:src="${artwork.url}"/>
	
	<h2>Artist</h2>
	<h3 th:text="${artist.fullName}">Artist Name</h3>
	<h4>Born in</h4><p th:text="${artist.birthYear}">Birth Year</p>
	
	
	<h2>Movements</h2>
	<ul th:each="movement: ${movement}">
		<li th:text="${movement.name}">Movement Name</li>
	</ul>
	<br />
	<br />
    <br />
    <h2>Comments</h2>
    <table>
      <tr th:each="comment: ${comments}">
	  	<td th:text="${comment.username}">username</td>
	  	<td th:text="${comment.content}">content</td>
	  </tr>
	</table>
	
		<br />
    <form th:action="@{/artwork/comment}" method="post">
    	<input type="hidden" name="userName" th:value="${username}"/>
    	<input type="hidden" name="artworkId" th:value="${artwork.acno}"/>
        <p>Comment: <input type="text" name="content" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>