<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/css/bootstrap.css"  rel="stylesheet" type="text/css"  />

</head>
<body>
<nav>
<ul class="nav navbar-nav">
        <li><a href="/artist/" >Artists</a></li>
        <li><a href="/artwork/" >Artworks</a></li> 
</ul>
</nav>
<br/>
<div sec:authorize="hasRole('USER')" class="row">
  	<h1 th:inline="text" class="col-md-4">Hello [[${#httpServletRequest.remoteUser}]]! </h1>
  	<form th:action="@{/logout}" method="post" class="col-md-4 col-md-push-4">
      	<input type="submit" value="Sign Out" class="btn btn-primary"/>
   	</form>
</div>
<table class="table table-striped">
      <tr>
        <th>Id</th>
        <th>Full Name</th>
        <th>Birth Year</th>
      </tr>
	  <tr th:each="artist: ${artists}">
	  	<td><a th:href="@{|/artist/viewArtist/${artist.id}|}" th:text="${artist.id}">Key</a></td>
	  	<td th:text="${artist.fullName}">FullName<span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
	  	<td th:text="${artist.birthYear}">birthYear</td>
	  </tr>
</table>
</body>
</html>