<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${artist.fullName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.css"  rel="stylesheet" type="text/css"  />
</head>
<body>
<nav>
<ul class="nav navbar-nav">
        <li><a href="/artist/" >Artists</a></li>
        <li><a href="/artwork/" >Artworks</a></li> 
</ul>
</nav>
<br/>
	<h1 th:text="${artist.fullName}">Name</h1>
	<br/><br/>
	<h2>Born in the year:</h2>
	<h3 th:text="${artist.birthYear}">BirthYear</h3>
	<h2>Movements:</h2>
	<ul th:each="movement: ${movement}">
		<li th:text="${movement.name}">Movement Name</li>
	</ul>
	<h2>Artworks</h2>
	<div th:each="artwork: ${artwork}" style="float:left; border:2px solid black;margin:10px;">
		<h3 th:text="${artwork.title}" style="margin:5px;">Title</h3>
		<img th:src="${artwork.url}" style="margin:5px;"/>
	</div>
</body>
</html>